{
  "swagger": "2.0",
  "info": {
    "version": "DSTU3",
    "title": "FHIR Patient",
    "description": "Demographics and other administrative information about an individual or animal receiving care or other health-related services. To get more details regarding this FHIR resource please visit https://www.hl7.org/fhir/patient.html ",
    "contact": {
      "name": "Axway",
      "url": "https://www.axway.com"
    },
    "license": {
      "name": "none"
    }
  },
  "host": "api-env.demo.axway.com:9003",
  "basePath": "/baseDstu3",
  "schemes": [
    "http"
  ],
  "paths": {
    "/Patient/{id}/$validate": {
      "get": {
        "description": "Validate an instance of the resource to check whether it would be acceptable for creating/updating, without actually storing it on the server.",
        "operationId": "validatePatient",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "id",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "description": "Patient info"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200"
          }
        }
      }
    },
    "/Patient/{id}": {
      "get": {
        "description": "Retrieve patient info by id",
        "operationId": "getPatientById",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200"
          }
        }
      },
      "put": {
        "description": "Update an existing resource\n",
        "operationId": "putPatientById",
        "consumes": [
          "application/fhir+json"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "id",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "description": "Patient info"
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the instance \n"
          },
          "201": {
            "description": "Succesfully created the instance \n"
          },
          "400": {
            "description": "Bad Request - Resource cound not be parsed or failed basic FHIR validation rules\n"
          },
          "404": {
            "description": "Not Found - resource type not support, or not a FHIR validation rules\n"
          },
          "405": {
            "description": "Method Not allowed - the resource did not exist prior to the update, and the server does not allow client defined ids\n"
          },
          "409": {
            "description": "Version conflict management\n"
          },
          "412": {
            "description": "Version conflict management\n"
          },
          "422": {
            "description": "Unprocessable Entity - the proposed resource violated applicable FHIR  profiles or server business rules.  This should be accompanied by an OperationOutcome resource providing additional detail.\n"
          }
        }
      },
      "delete": {
        "description": "Delete patient by Id\n",
        "operationId": "deletePatientById",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Succesfully deleted resource\n"
          },
          "404": {
            "description": "Not Found - resource was not found\n"
          },
          "405": {
            "description": "Method Not allowed - delete is not allowed\n"
          }
        }
      }
    },
    "/Patient": {
      "get": {
        "description": "Get All Patients",
        "operationId": "getAllPatients",
        "produces": [
          "application/fhir+json"
        ],
        "responses": {
          "200": {
            "description": "Status 200"
          }
        }
      },
      "post": {
        "description": "Create a new Patient resource\n",
        "operationId": "postPatientById",
        "consumes": [
          "application/fhir+json"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "responses": {
          "201": {
            "description": "Succesfully created a new type\n"
          },
          "400": {
            "description": "Bad Request - Resource cound not be parsed or failed basic FHIR validation rules\n"
          },
          "404": {
            "description": "Not Found - resource type not support, or not a FHIR validation rules\n"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "description": "Patient info"
          }
        ]
      }
    },
    "/Patient/_tags": {
      "get": {
        "description": "Get a list of tags used for the nominated resource type\n",
        "operationId": "tags",
        "produces": [
          "application/fhir+json"
        ],
        "responses": {
          "200": {
            "description": "Succesfully retrieved resource\n"
          }
        }
      }
    },
    "/Patient/{id}/_history": {
      "get": {
        "description": "Retrieve the update history across the Patient resource type, or against a specific instance of this resource type if an ID is specified.",
        "operationId": "getPatientHistoryById",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200"
          }
        }
      }
    }
  }
}
